body {
  margin: 0;
  padding: 5px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(64, 45, 77);
  font-family: "Calibri", "Verdana", sans-serif;
  overflow: hidden;
}

.fancy-button {
  background-color: transparent;
  font-family: "Calibri", "Verdana", sans-serif;
  border-radius: 20px;
  border-style: none;
  margin: 10px;
  height: 40px;
  min-width: 80px;
  color: #eaeafa;
  cursor: pointer;
  text-shadow: rgba(0, 0, 0, 0.8) 0px 0px 3px;
}

p {
  text-align: left;
}

.container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.card {
  min-width: 100px;
  max-width: 400px;
  margin: 10px auto;
  padding: 10px;
  border: thin solid #88f;
  border-radius: 15px;
  text-align: center;
}
