body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top left, #daf,#dfa);
    font-family: 'Boogaloo', 'Calibri', 'Verdana', sans-serif;
    font-size: 1.2rem;
  }
  .fancy-button {
    font-family: 'Baloo 2', 'Calibri', 'Verdana', sans-serif;
    font-size: 0.97rem;
    border-radius: 20px;
    border-style: none;
    margin: 30px auto 10px auto;
    padding: 10px 20px;
    height: 40px;
    background-color: #22a;
    color: #eaeafa;
    cursor: pointer;
    text-shadow: rgba(0,0,0,0.8) 0px 0px 3px;
  }
  p {
    text-align: left;
  }
  .container {
    text-align: center;
    width: 880px;
  }
  .card {
    display: block;
    width: 300px;
    margin: 20px auto;
    padding: 40px;
    border: thin solid #88f;
    border-radius: 15px;
    text-align: center;
  }